{% set title = "ToDo | Admin" %}
{% extends "base.twig" %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Кол-во задач</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.email }}</td>
                <td>{{ user.tasks().count() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}